.indent-guide-improved.indent-guide-stack.indent-guide-active {
  box-shadow: 0 0 8px 1px #3af4fd;
}

atom-text-editor {
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
}
atom-panel.modal atom-text-editor[mini] {
  font-weight: 500 !important;
}

.bracket-matcher-highlight .region {
  background: rgba(255, 20, 100, 0.2);
  box-shadow: 0 0 10px 2px rgba(255, 20, 100, 0.3);
}
atom-text-editor .pigments-native-background {
  // border-radius: 6px; 
}
